@tailwind base;
@tailwind components;
@tailwind utilities;

.trackme-blue{
    color: #007AFF;
}
.trackme-bg-blue{
    background-color: #007AFF;
}
.trackme-bg-red{
    background-color:  #E63946;
}
.trackme-red{
    color:  #E63946;
}