@import "tailwindcss";

.trackme-blue{
  color: #007AFF;
}
.trackme-bg-blue{
  background-color: #007AFF;
}
.trackme-bg-red{
  background-color:  #FF3B30;
}
.trackme-red{
  color:  #FF3B30;
}
.trackme-border-gray{
  border-color: #D1D5DB;
}